<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RECIPE WEBSITE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" (click)="onSelect('recipe')">RECIPES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" (click)="onSelect('SHOPPING-LIST')">SHOPPING LIST</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              MANGE
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">save data</a></li>
              <li><a class="dropdown-item" href="#">fetch data</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
         
        </ul>
      
      </div>
    </div>
  </nav>