<br>
<br> 
<br>

<div class="row">
    <div class="col-md-12 ">
        <img [src]="recipe?.imagePath" class="img-fluid" alt="">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1> {{recipe?.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="btn btn-group">
            <button type="button" data-bs-toggle="dropdown" class="btn btn-primary dropdown-toggle">

                manage recipe
            </button>

            <ul class="dropdown-menu">
                <li>
                    <a href="" class="dropdown-item"> to shopping list</a>
                </li>
                <li>
                    <a href="" class="dropdown-item"> delete recipe</a>
                </li>
                <li>
                    <a href="" class="dropdown-item"> edite recipe</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h1>{{recipe?.description}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>ingrediants</h1>
    </div>
</div>