<div class="row">

    <div class="col-md-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a *ngFor="let ingredient of ingredients" href="
    " class="list-group-item" style="cursor: pointer;">
                {{ingredient.name}} - ({{ingredient.amount}})
            </a>
        </ul>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <form action="">
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="name">name</label>
                    <input type="text" class="form-control" id="name">
                </div>

                <div class="col-md-2 form-group">
                    <label for="amount">amount</label>
                    <input type="text" class="form-control" id="amount">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">
                        Add
                    </button>
                    &nbsp;
                    <button type="submit" class="btn btn-primary">
                        Clear
                    </button>
                    &nbsp;
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                    &nbsp;
                </div>
            </div>
        </form>
    </div>
</div>